.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border: 1px solid #080505;
  border-radius: 5px;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #3d505c;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #795679;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
  transition: background-color 0.3s ease-in-out;
}

.input input:focus {
  outline: none;
  background-color: #6e88b8;
  box-shadow: 0 0 0 2px rgba(79, 0, 95, 0.2);
}

.input input::placeholder {
  color: #d39f9f;
}
